CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_MAX_BONDS=3
CONFIG_BT_NIMBLE_MAX_CCCDS=8
CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="OpenWatts"
CONFIG_BT_CONTROLLER_ENABLED=y
CONFIG_BT_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_FREERTOS_HZ=1000
CONFIG_COMPILER_CXX_EXCEPTIONS=n
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
